{% extends "site/index.html" %}

{% block content %}
	<div id="main-content" class="section">
			<div class="box">
				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<h1>Inregistreaza-te</h1>
					<h2 for="id_username">Nume</h2>
					<input id="id_username" name="username" 
							type="text">
					<h2 for="id_password">Parola</h2>
					<input id="id_password" name="password" 
							type="password">
					<br><br>
					<button type="submit">Intra in cont</button>
				</form>
			</div>
	</div>
{% endblock %}