{% extends "site/index.html" %}

{% block content %}
    <div id="main-content" class="section">
        <div class="box2">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <h1>Adauga utilizator</h1>
                <hr>
                <h2 for="id_username">Nume utilizator</h2>
                <input id="id_username" type="text" name="username" required>
                <h2 for="id_email">Email</h2>
                <input id="id_email" type="email" name="email" required>
                <h2 for="id_identifier">Specializare</h2>
                <input id="id_identifier" type="text" name="identifier" required>
                <h2 for="id_job">Job</h2>
                <select id="id_job" name="job" required>
                    <option value="" selected disabled hidden>Alege job-ul</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Asistenta">Asistenta</option>
                </select>
                <h2 for="id_grupa_sanguina">Grupa sanguina</h2>
                <select id="id_grupa_sanguina" name="grupa_sanguina" required>
                    <option value="" selected disabled hidden>Alege grupa sanguina</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <h2 for="id_password1">Parola</h2>
                <input id="id_password1" name="password1" type="password" required>
                <h2 for="id_password2">Repeta parola</h2>
                <input id="id_password2" name="password2" type="password" required>
                <br><br>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %} 
                        <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <br>
                <button type="submit">Adauga</button>
                <button onclick = "location.href = '/'; ">Anuleaza</button>
            </form>
        </div>
    </div>
{% endblock %}